
.container {
  padding: 0 2rem;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.post_container {
  width:90%;
  margin:100px auto;
}
.post_container > a:hover {
  text-decoration:underline;
}
.post_title {
  font-size:1.7rem;
  font-weight:normal;
  margin:10px 0;
}
.post_title:hover {
  text-decoration:underline;
}
.post_date {
  margin:10px 0;
  font-weight:normal;
}
.post_content {
  line-height:1.75;
  font-size: 1.2rem;
  margin:20px 0;
}
.post_img {
  text-align:center;
}
.post_img img {
  max-width:100%;
}
.category_link:hover {
  text-decoration:underline;
}
.person_container {
  margin:60px auto;
  width:60%;
}
.person_introduction {
  margin:20px 0 10px 0;
  line-height:1.75;
  font-size:.9rem;
  opacity:.7;
  font-weight:bold;
  color:#000;
}
.person_name {
  font-size:1.4rem;
  letter-spacing:1px;
}
.person_link_text {
  opacity: .8;
}
.person_link {
  font-size:1.2rem;
  color: #00ffca;
  opacity:1;
}
a.person_link:hover{
  text-decoration:underline;
}
.detail_container {
  width:90%;
  margin:30px auto;
}
.detail_title h3 {
  text-align:center;
  font-size:1.8rem;
  margin:60px 0;
}
.detail_date h4 {
  text-align:right;
  margin:30px 0;
  font-size:1.3rem;
}
.detail_content {
  width:80%;
  margin:30px auto;
}
.detail_content p {
  font-size:1.2rem;
  line-height:1.75;
  margin:20px 0;
}
.detail_content h2 {
  font-size:1.5rem;
  margin:20px 0;
}
.detail_img {
  text-align:center;
}
.detail_img img{
  text-align:center;
  margin:0 auto;
  max-width:100%;
}
.book_container {
  width:60%;
  margin:60px auto;
}
.book_title {
  font-size:1.8rem;
}
.book_main_language {
  margin:30px 0;
}
.book_main_language h3 {
  margin:20px 0;
  font-size:1.2rem;
}
.book_main_language li {
  margin:30px;
}
.book_main_language a:hover {
  text-decoration:underline;
}

.category_container {
  width:90%;
  margin:40px auto;
}
.category_title {
  text-align:left;
  margin:60px 0;
}
.category_title h3{
  font-size:1.6rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .post_content {
    font-size:.9rem;
  }
  .detail_content p{
    font-size:.9rem;
  }
}
